.container-nav {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: $primary;
    box-sizing: border-box;
    font-size: 2rem;
    background: rgb(131,58,180);
    background: $degrade;

    .first-nav {
        display: flex;
        flex-flow: row wrap;
        margin-right: auto;
        justify-content: center;
        align-content: center;
        
        a {
            color: #fff;
            text-decoration: none;
            justify-content: baseline;
            .logo-instagram {
                font-size: 2rem;
                width: 3rem;
            }
            .h1-logo {
                color: #fff;
                display: inline;
    
            }
        }
        
    }        
        
    .second-nav {
        display: flex;
        justify-content:end;
        align-items: center;
        .user-icon {
            margin-top: 2px;
            padding: auto;
            border: 1px solid black;
            background-color: #fff;
            border-radius: 50%;
            height: 3rem;
        }
            
        .darkmode, .ajustes {
            display: flex;
            align-items: baseline;
            gap: 1rem;
        }

    }

}
