@import 'variables';

* {
    font-size: 16px;
    p {
        font-family: 'Fauna One', serif;
        font: $text;
    }
    
    a, h1, h2, h3, h4, h5, h6 {
        font-family: 'Cinzel', serif;
        color: $text;
    }
}

button {
 border-radius: 5px;   
 cursor: pointer;
 font-size: 1rem;
 border: none;
 background: transparent;
}

body{
    display: grid;
    grid-template-rows: auto;
}