$primary: #833ab4;
$secondary: rgba(175, 172, 172, 0.877);
$complementary: #fcb045;
$shadow: #643385;
$text: rgb(0, 0, 0);
$degrade: linear-gradient(90deg, rgba(131,58,180,1) 27%, rgba(253,29,29,1) 58%, rgba(252,176,69,1) 100%);

// Likes //
$liked: #ff002f;
$likehover: #961d33;



